{% extends 'layouts/main.html' %}
{% block content %}

<div class="container">
    <p>Plant and observation data can be accessed directly via the API. The token below is a Bearer JSON Web Token (JWT)
        and is required for many API endpoints. To learn more, read the full docs at <a
            href="https://github.com/alexsandberg/plant-survey-app/blob/master/README.md"
            target="_blank">https://github.com/alexsandberg/plant-survey-app/blob/master/README.md</a>
    </p>
</div>
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Click to reveal API key
    </button>
</p>
<div class="container">
    <div class="collapse" id="collapseExample">
        {% if 'JWT' in session %}
        <div class="card card-body api-key-card">
            {{ session['JWT'] }}
        </div>
        {% else %}
        <div class="card card-body">
            <a href="/login">Please sign in to get API key</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}