{% extends 'layouts/main.html' %}
{% block content %}

<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Click to reveal API key
    </button>
</p>
<div class="container">
    <div class="collapse" id="collapseExample">
        {% if 'JWT' in session %}
        <div class="card card-body api-key-card">
            {{ session['JWT'] }}
        </div>
        {% else %}
        <div class="card card-body">
            <a href="/login">Please login to get API key</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}