{% extends 'layouts/main.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<div class="posts-container">

    {% if session['profile']['role'] == 'Admin' %}
    <a href="/plants/new">
        <button class="btn btn-primary">New Plant</button>
    </a>
    {% endif %}


    {% for plant in plants %}
    <div class="plant-post">

        <div class="post-text-container">
            <a href="/plants/{{ plant.id }}">
                <h3>{{ plant.name }}</h3>
            </a>
            <p>{{ plant.latin_name }}</p>
            <p>{{ plant.description }}</p>
            <a href="/observations/new?plant={{ plant.id }}" class="btn btn-primary">Add an observation</a>
            <a href="/plants/{{ plant.id }}/edit" class="btn btn-primary">Edit Plant</a>
        </div>
        <div class="post-img-container">
            <a href="/plants/{{ plant.id }}"><img src="{{ plant.image_link }}" alt="Plant Image" /></a>
        </div>

    </div>
    {% endfor %}
</div>
</div>

<div class="posts-container">
    {% for observation in observations %}
    <div class="card post" style="width: 18rem; ">
        <a href="/plants/{{ observation.plant_id }}"><img class="card-img-top" src="{{ observation.plant_image }}"
                alt="Plant Image" /></a>
        <div class="card-body">
            <h5 class="card-title">{{ observation.plant_name }}</h5>
            <p class="card-text">{{ observation.date }}</p>
            <p class="card-text">{{ observation.notes }}</p>
            <a href="/observations/{{ observation.id }}/edit" class="btn btn-primary">Edit Observation</a>
        </div>
    </div>
    {% endfor %}
</div>

<a id="qsLogoutBtn" class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
{% endblock %}