{% extends 'layouts/main.html' %}
{% block title %}Observations{% endblock %}
{% block content %}

<div class="posts-container">
    {% for observation in observations %}
    <div class="card post" style="width: 18rem; ">
        <a href="/plants/{{ observation.plant_id }}"><img class="card-img-top" src="{{ observation.plant_image }}"
                alt="Plant Image" /></a>
        <div class="card-body">
            <h5 class="card-title">{{ observation.plant_name }}</h5>
            <p class="card-text">{{ observation.date }}</p>
            <p class="card-text">{{ observation.notes }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}