{% extends 'layouts/main.html' %}
{% block title %}{{ plant.name }}{% endblock %}
{% block content %}
<div class="posts-container">

    <div class="plant-post">

        <div class="post-text-container">
            <a href="/plants/{{ plant.id }}">
                <h3>{{ plant.name }}</h3>
            </a>
            <p>{{ plant.latin_name }}</p>
            <p>{{ plant.description }}</p>
            <div class="post-observations">
                {% for observation in plant.plant_observations %}
                <p>{{ observation.name }}</p>
                <p>{{ observation.date }}</p>
                <p>{{ observation.notes }}</p>
                {% endfor %}
            </div>
            <a href="/observations/new?plant={{ plant.id }}" class="btn btn-primary">Add an observation</a>
        </div>
        <div class="post-img-container">
            <a href="/plants/{{ plant.id }}"><img src="{{ plant.image_link }}" alt="Plant Image" /></a>
        </div>
    </div>

</div>
{% endblock %}