{% extends 'layouts/main.html' %}
{% block title %}Plants{% endblock %}
{% block content %}
<div class="posts-container">
    <a href="/plants/new">
        <button class="btn btn-primary">New Plant</button>
    </a>
    {% for plant in plants %}
    <div class="plant-post">

        <div class="post-text-container">
            <a href="/plants/{{ plant.id }}">
                <h3>{{ plant.name }}</h3>
            </a>
            <p>{{ plant.latin_name }}</p>
            <p>{{ plant.description }}</p>
            <div class="post-observations">
                {% for observation in plant.plant_observations %}
                <p>{{ observation.name }}</p>
                <p>{{ observation.date }}</p>
                <p>{{ observation.notes }}</p>
                {% endfor %}
            </div>
        </div>


        <div class="post-img-container">
            <a href="/plants/{{ plant.id }}"><img src="{{ plant.image_link }}" alt="Plant Image" /></a>
        </div>
        <!-- <p>{{ plant.image_link }}</p> -->
    </div>
    {% endfor %}
</div>
{% endblock %}