{% extends 'layouts/main.html' %}
{% block content %}

<div class="posts-container">
    <div class="plant-post">
        <div class="post-text-container">
            <h3>{{ plant.name }}</h3>
            <p>{{ plant.latin_name }}</p>
            <p>{{ plant.description }}</p>
            <div class="post-observations">
                {% for observation in plant.plant_observations %}
                <p>{{ observation.name }}</p>
                <p>{{ observation.date }}</p>
                <p>{{ observation.notes }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="post-img-container">
            <img src="{{ plant.image_link }}" alt="Plant Image" />
        </div>
        <!-- <p>{{ plant.image_link }}</p> -->
    </div>
</div>

{% endblock %}