header {
    padding-bottom: 20px;
    
}

h1, h2 {
    margin: auto;
    width: 100%;
    text-align: center;
}

#content {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.post,
.plant-post {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    padding: 20px;
    display: block;
    list-style-type: none;
    border-radius: 10px;
    margin: 1.2em;
    max-width: 400px;
    transition: background-color .5s;
    height: fit-content;
}

.plant-post {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
}

.post-img-container {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-left: 20px;
    margin: auto;
}

.post-text-container {
    width: 50%;
    padding-right: 20px;
}

.plant-post img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.post:hover {
    background-color: #00000020;
  }

.post-observations {
    overflow-y: scroll;
}

#observation-form {
    width: 40%;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}