{% extends 'layouts/main.html' %}
{% block title %} New Plant {% endblock %}
{% block content %}


<div class="container">
    <div class="well">
        <form id="plant-form" class="form-vertical needs-validation" role="form" autocomplete="off" method="POST"
            action="/plants/new">

            <div class="form-group">
                <label for="plant-name" class="control-label">Plant Name</label>
                <input type="text" class="form-control" name="name" id="plant-name" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="plant-latin-name" class="control-label">Latin Name</label>
                <input type="text" class="form-control" name="latin_name" id="plant-latin-name" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="plant-description" class="control-label">Description</label>
                <textarea class="form-control" class="form-control" cols="40" id="plant-description" name="description"
                    rows="10" required></textarea>
            </div>
            <div class="form-group">
                <label for="plant-image-link" class="control-label">Image link</label>
                <input type="url" class="form-control" name="image_link" id="plant-image-link" placeholder="" required>
            </div>
            <div class="pull-right">
                <br>
                <div class="btn-group col-xs-12">
                    <input type="submit" class="btn btn-primary"></input>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}